.about-me {
  padding: 80px 0;
  position: relative;
  background-color: #000000;
  background-image: linear-gradient(
    135deg,
    #383838 33%,
    #1f6f71 70%,
    #16bac5 100%
  );
}
.about-me h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.about-me p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.skill-card {
  height: 125px;
  background-color: #278174;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
}

.skill-bars {
  padding: 25px 30px;
  background: #13806e;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  animation: flip-in-hor-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

.skill-bars .bar {
  margin: 20px 0;
}
.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
  margin-bottom: 5px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(
    90deg,
    rgba(234, 239, 211, 1) 10%,
    rgba(220, 196, 142, 1) 100%
  );
  animation: animate 1s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
.bar .progress-line.html span {
  width: 90%;
}
.bar .progress-line.css span {
  width: 60%;
}
.bar .progress-line.jquery span {
  width: 85%;
}
.bar .progress-line.python span {
  width: 50%;
}
.bar .progress-line.mysql span {
  width: 75%;
}
.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #505168;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #505168;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "60%";
}
.progress-line.jquery span::after {
  content: "85%";
}
.progress-line.python span::after {
  content: "50%";
}
.progress-line.mysql span::after {
  content: "75%";
}
